outputs*
*.mp4
optimization
logs
tmp*
*.log
*.tcb
fem_util
__pycache__
.*.swp
topopt2d
*.pkl
*.png
*.tcb.*
*.so
.hg
.vscode/settings.json
.gitignore
data/split-chair.obj
.gitignore
scripts/opt_anton.py
scripts/topopt_test.py
data/Cube.obj
data/fixed.npy
data/force_vectors.npy
data/forces.npy
